# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Prolepsis specifics
prolepsis_results_download.zip

# Editors
.vscode/
.idea/
*.swp
*.swo

# Virtual environments
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Triton kernel caches
.triton/
